.wrapper__side-contents__groups__group
  .wrapper__side-contents__groups__group__group-name
    お試し
  .wrapper__side-contents__groups__group__last-message
    ためしだよー
.wrapper__side-contents__groups__group
  .wrapper__side-contents__groups__group__group-name
    お試セカンド
  .wrapper__side-contents__groups__group__last-message
    だよよー