.wrapper__chat-contents__messages__message{data: {message: {id: message.id}}}
  .wrapper__chat-contents__messages__message__upper-info
    .wrapper__chat-contents__messages__message__upper-info__talker
      =message.user.name
    .wrapper__chat-contents__messages__message__upper-info__data
      =message.created_at.strftime("%Y/%m/%d %H:%M")
  .wrapper__chat-contents__messages__message__text
    - if message.content.present?
      .wrapper__chat-contents__messages__message__text__content
        = message.content
    = image_tag message.image, class: 'wrapper__chat-contents__messages__message__text__image' if message.image.present?