.wrapper__chat-contents__messages__message
  .wrapper__chat-contents__messages__message__upper-info
    %p.wrapper__chat-contents__messages__message__upper-info__talker
      仮の人
    %p.wrapper__chat-contents__messages__message__upper-info__data
      2019/08/12(Mon)13.34.03
  %p.wrapper__chat-contents__messages__message__text
    こんにちわ！
.wrapper__chat-contents__messages__message
  .wrapper__chat-contents__messages__message__upper-info
    %p.wrapper__chat-contents__messages__message__upper-info__talker
      メンバーの人
    %p.wrapper__chat-contents__messages__message__upper-info__data
      2019/08/12(Mon)22.12.45
  %p.wrapper__chat-contents__messages__message__text
    こんばんわ！
